[submodule "lib/ARFF"]
	path = lib/ARFF
	url = https://github.com/LinjianLi/ARFF
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "lib/stats"]
	path = lib/stats
	url = https://github.com/jjiantong/stats
[submodule "lib/gcem"]
	path = lib/gcem
	url = https://github.com/jjiantong/gcem
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11
